.settings
.classpath
Datasets
contrib
build/
Logs
tmp
pigrunwin
*.log
PigScripts/CommandLineUtils/Logs
PigScripts/MiscScripts/QuickTests.pig
PigScripts/orderError.pig
PigScripts/orderError.pig~
PigScripts/orderErrorLocal.pig
PigScripts/orderErrorLocal.pig~
ilc0
target
pom.xml
.externalToolBuilders/
.project
src/test/resources/tinyWarc1_0.warc_ngrams.csv.gz/
