.settings
.classpath
Datasets
contrib
bin
build/
Logs
tmp
pigrunwin
*.log
PigScripts/CommandLineUtils/Logs
PigScripts/MiscScripts/QuickTests.pig
PigScripts/orderError.pig
PigScripts/orderError.pig~
PigScripts/orderErrorLocal.pig
PigScripts/orderErrorLocal.pig~
ilc0
target
